@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
}
header{
    // For function
    @include flexCenter(column);
    background-color: aqua;
    height: 100vh;
    color: $hColor;
    button{
        background-color: $primaryBtn;
       &:hover{
           background-color: red;
       }
       &::after{
           content: "Hello";
       }
      }      
}